<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<h2>Add Your Own Recipe</h2>
<form [formGroup]="addCocktailRecipeForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="ingredients">Ingredients</label>
        <input type="text" formControlName="ingredients" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ingredients.errors }" />
        <div *ngIf="submitted && f.ingredients.errors" class="invalid-feedback">
            <div *ngIf="f.ingredients.errors.required">Ingredients are required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="recipe">Recipe</label>
        <input type="text" formControlName="recipe" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.recipe.errors }" />
        <div *ngIf="submitted && f.recipe.errors" class="invalid-feedback">
            <div *ngIf="f.recipe.errors.required">Recipe is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Add New Cocktail
        </button>
        <a routerLink="/cocktailRecipes" class="btn btn-link"> Recipes </a>
    </div>
</form>